meta(chars3et='utf-8')
block title
    title Юридические услуги организациям и предпринимателям в Хабаровске
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
link(rel='stylesheet', href='assets/css/main.css')
