section.s-result
  .container.result-container
    .title.result__title.upper Мы нацелены 
      span.line только на 
      span.line результат 
      |  для вас
    .result__row.row
      .result__item
        img.result__img(src="images/chess.png", alt="Фигура")
        p.result__text Все юристы нашей компании имеют 
          span.bold стаж работы 
          | по юридической специальности 
          span.bold более 10 лет
      .result__item
        img.result__img(src="images/chess2.png", alt="Фигура")
        p.result__text За плечами наших сотрудников 
          span.bold работа в судебной системе
          |, следственных и оперативных подразделениях 
          span.bold органов государственной безопасности  
      .result__item
        img.result__img(src="images/chess3.png", alt="Фигура")
        p.result__text 
          span.bold Честность и порядочность 
          | по отношению к клиенту - 
          span.bold наше кредо
          |, которое мы не нарушаем никогда
      .result__item
        img.result__img(src="images/chess4.png", alt="Фигура")
        p.result__text 
          span.bold Оплата 
          | наших услуг производится 
          span.bold по результату в процентном соотношении 
          | от реально возвращенных доверителю сумм - вы ничего не теряете 
      .result__item
        img.result__img(src="images/chess5.png", alt="Фигура")
        p.result__text Мы оказываем действенную практическую 
          span.bold помощь по взысканию даже безнадежной задолженности
      .result__item
        img.result__img(src="images/chess6.png", alt="Фигура")
        p.result__text Работа на результат: мы 
          span.bold сопровождаем Ваше дело вплоть до момента поступления 
          | на ваш расчетный счет взысканных с ответчика 
          span.bold денежных средств 
    .result__cost.cost
      img.cost__img.js-tilt(src="images/femida2.png", alt="Фемида" data-tilt)
      .cost__percent
        |Вы 
        span.underline ничего не теряете,
        br
        | обратившись к нам:
        .cost__char
          span.cost__num 10%
      .cost__text
        span.highlight Стоимость нашей работы - не более 10%
        |От цены иска, 
        span.underline которая будет взыскана в вашу пользу 
        br
        |с ответчика по результатам рассмотрения дела