extends /_includes/layout.jade

block title
  title Юридические услуги организациям и предпринимателям в Хабаровске
  meta(name="description", content="")

block content
+header
  include /_includes/service.jade
  include /_includes/result.jade
  include /_includes/dispute.jade
  include /_includes/more.jade
  include /_includes/escort.jade
  include /_includes/faq.jade
  include /_includes/consult.jade
  include /_includes/place.jade
+footer